@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <img src="@item.Book.Image"
                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                    </div>
                    <div class="ms-3">
                        <h5><a class="text-decoration-none text-dark" asp-action="Details" asp-controller="Home" asp-route-id="@item.Book.Id">@item.Book.Name</a></h5>
                        <hr>
                        <p class="small mb-0">@item.Book.Author</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div style="width: 50px;">
                        <h5 class="fw-normal mb-0">@item.Quantity</h5>
                    </div>
                    <div style="width: 80px;">
                        <h5 class="mb-0">@(item.Book.Price * item.Quantity) ₺</h5>
                    </div>
                    <a asp-action="Remove" asp-controller="Basket" asp-route-id="@item.Book.Id" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
}
